.cards {
	display: grid;
	--card-size: 200px;
	grid-template-columns: repeat(auto-fill, minmax(var(--card-size), 1fr));
	@media (max-width: 500px) {
		--card-size: 120px;
	}
	margin-block: 20px;
}

.card {
	align-content: center;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
	transform: rotate(var(--rotate, 0deg));
	transition: transform 0.2s ease;
	margin-bottom: -20px;
	img {
		filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.6));
	}
	&:hover {
		transform: rotate(0deg) scale(1.05);
		z-index: 1;
	}
}
