.header {
	background-image:
		linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),
		url("../../public/celebration.jpg");

	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	text-align: center;
	min-height: 600px;
	mask-image:
		url("./assets/paper/paper-stripe.png"), linear-gradient(black, black);
	mask-size:
		auto 200px,
		100% 100%;
	mask-position:
		center calc(100% + 50px),
		center;
	mask-repeat: repeat-x, no-repeat;
	mask-composite: exclude;
	mask-mode: alpha;
}

.logo {
	margin: 0 auto;
	display: inline-block;
	img {
		max-width: 100%;
		width: 400px;
	}
}
