.header {
	position: relative;
	background-image:
		linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),
		url("../../public/madcss-wide.jpg");

	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	text-align: center;
	min-height: 600px;
	mask-image:
		url("./assets/paper/repeating-paper-top.png"),
		url("./assets/paper/paper-stripe-bottom.png"), linear-gradient(black, black);
	--mask-size: 200px;
	--mask-position: calc(100% + 50px);
	mask-size:
		auto 13px,
		auto var(--mask-size),
		100% 100%;
	mask-position:
		center 0px,
		center var(--mask-position),
		center;
	mask-repeat: repeat-x, repeat-x, no-repeat;
	mask-composite: exclude;
	mask-mode: alpha;
	padding-inline: 50px;
	padding-top: 25px;
	@media (max-width: 500px) {
		height: auto;
		padding-bottom: 100px;
		min-height: 0;
		--mask-size: 100px;
		--mask-position: calc(100% + 25px);
	}
}

.logo {
	margin: 0 auto;
	display: inline-block;
	img {
		max-width: 100%;
		width: 400px;
	}
}
