@import "./reset.css";

:root {
	--orange: #f3370e;
	--yellow: #ffae00;
	--black: #000;
	--white: #fff;
	--beige: #f5eeda;
	/* TODO: Add web fonts */
	--font-serif: "Kaltjer", serif;
	--font-block: "CollegiateBlackFLF", sans-serif;
	--font-sans: "Inter", sans-serif;
}

html {
	color-scheme: dark;
}
body {
	min-height: 100vh;
	background: var(--orange);
	background-image: url("./assets/textures/dots005.svg");
	background-size: contain;
	background-repeat: repeat;
	color: var(--white);
	font-family: var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading {
	font-family: var(--font-serif);
	font-weight: 100;
	color: var(--orange);
}

h2 {
	font-size: 6rem;
}
h3 {
	font-size: 3rem;
}
p {
	font-family: var(--font-sans);
	font-size: 16px;
	line-height: 1.5;
	font-weight: 800;
}

.font_block {
	font-family: var(--font-block);
}
.font_serif {
	font-family: var(--font-serif);
}
.font_sans {
	font-family: var(--font-sans);
}
.uppercase {
	text-transform: uppercase;
}

.center {
	text-align: center;
}

/* Fixes bug in react flow edges not showing up */

.react-flow .react-flow__edges {
	width: 100%;
}

.section {
	padding: 20px;
	background: black;
	background-image:
		linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
		url("../../public/madcss-wide.jpg");
	background-size: cover, cover;
	background-position: center, center;
	background-repeat: no-repeat, no-repeat;
	mask-image:
		url("./assets/paper/repeating-paper-top.png"),
		url("./assets/paper/repeating-paper-bottom.png"),
		linear-gradient(black, black);
	mask-size:
		auto 33px,
		auto 50px,
		100% 100%;
	mask-position:
		center 0px,
		center calc(100% + 25px),
		center;
	mask-repeat: repeat-x, repeat-x, no-repeat;
	mask-composite: exclude;
	mask-mode: alpha;
}

.section-content {
	max-width: 1000px;
	margin: 0 auto;
	padding: 20px;
}

.section h2 {
	position: relative;
	background: url("./assets/paper/paper2.png") no-repeat center center;
	background-size: 100% 100%;
	-webkit-background-clip: text;
	color: rgba(255, 255, 255, 0.3);
	background-blend-mode: difference;
	width: fit-content;
	line-height: 1;
	margin: 20px auto;
	filter: drop-shadow(0 0 7px rgba(0, 0, 0, 1));
	&:after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 5px;
		background: var(--yellow);
		z-index: -1;
	}
}
