@import "./reset.css";
@import "./buttons.css";

:root {
	--orange: #f3370e;
	--yellow: #ffae00;
	--black: #000;
	--white: #fff;
	--beige: #f5eeda;
	--bluesky: #0f73ff;
	/* TODO: Add web fonts */
	--font-serif: "serif", serif;
	--font-block: "Alfa Slab One", "CollegiateBlackFLF", sans-serif;
	--font-sans:
		"Inter", "Inter Tight", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html {
	color-scheme: dark;
}
body {
	min-height: 100vh;
	background: var(--orange);
	background-image: url("./assets/textures/dots005.svg");
	background-size: contain;
	background-repeat: repeat;
	color: var(--white);
	font-family: var(--font-sans);
}

@font-face {
	font-family: "serif";
	src: url("../../public/fonts/serif.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading {
	font-family: var(--font-serif);
	font-weight: 100;
	color: var(--orange);
}

h2 {
	font-size: 6rem;
	@media (max-width: 700px) {
		font-size: 4rem;
	}
}
h3 {
	font-size: 3rem;
}
p {
	font-family: var(--font-sans);
	font-size: 16px;
	line-height: 1.5;
	font-weight: 500;
}

.font_block {
	font-family: var(--font-block);
}
.font_serif {
	font-family: var(--font-serif);
}
.font_sans {
	font-family: var(--font-sans);
}
.uppercase {
	text-transform: uppercase;
}

.center {
	text-align: center;
}

/* Fixes bug in react flow edges not showing up */

.react-flow .react-flow__edges {
	width: 100%;
}

.section {
	padding-inline: 20px;
	padding-block: 20px;
	background: black;
	background-image:
		linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
		url("../../public/madcss-wide.jpg");
	background-size: cover, cover;
	background-position: center, center;
	background-repeat: no-repeat, no-repeat;
	mask-image:
		url("./assets/paper/repeating-paper-top.png"),
		url("./assets/paper/repeating-paper-bottom.png"),
		linear-gradient(black, black);
	mask-size:
		auto 33px,
		auto 50px,
		100% 100%;
	mask-position:
		center 0px,
		center calc(100% + 25px),
		center;
	mask-repeat: repeat-x, repeat-x, no-repeat;
	mask-composite: exclude;
	mask-mode: alpha;
  @media(max-width: 750px) {
    padding-inline: 10px;

  }
}

.section-content {
	max-width: var(--max-width, 1000px);
	margin: 0 auto;
	padding: 20px;
}

.section h2 {
	position: relative;
	background: url("./assets/paper/paper2.png") no-repeat center center;
	background-size: 100% 100%;
	-webkit-background-clip: text;
	color: rgba(255, 255, 255, 0.3);
	background-blend-mode: difference;
	width: fit-content;
	line-height: 1;
	margin: 20px auto;
	filter: drop-shadow(0 0 7px rgba(0, 0, 0, 1));
	&:after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 5px;
		background: var(--yellow);
		z-index: -1;
	}
}

/* 404 Not Found Page */
.not-found {
	max-width: 500px;
	margin: 60px auto;
	padding: 40px;
	background: var(--beige);
	border: 4px solid var(--black);
	text-align: center;
	mask-image:
		url("./assets/paper/repeating-paper-top.png"),
		url("./assets/paper/repeating-paper-bottom.png"),
		linear-gradient(black, black);
	mask-size:
		auto 20px,
		auto 20px,
		100% 100%;
	mask-position:
		center 0px,
		center 100%,
		center;
	mask-repeat: repeat-x, repeat-x, no-repeat;
	mask-composite: exclude;
}

.not-found-code {
	font-family: var(--font-block);
	font-size: 8rem;
	color: var(--orange);
	line-height: 1;
	letter-spacing: 0.05em;
}

.not-found-title {
	font-family: var(--font-serif);
	font-size: 2.5rem;
	color: var(--black);
	margin: 0.5rem 0 1rem;
	text-transform: uppercase;
}

.not-found-text {
	color: var(--black);
	margin-bottom: 1.5rem;
}


.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}
