.rules {
	padding-block: 40px;
}

.rules-headline {
	font-size: 1.4rem;
	line-height: 1.4;
	text-align: center;
	max-width: 700px;
	margin: 0 auto 30px;

	strong {
		color: var(--yellow);
		display: block;
		background: black;
		width: fit-content;
		margin: 0 auto;
		padding: 5px 10px;
	}
}

.rules-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;

	@media (max-width: 600px) {
		grid-template-columns: 1fr;
	}
}

.rules-card {
	--notch-size: 12px;
	background: var(--beige);
	color: var(--black);
	padding: 30px 30px 50px;
	text-align: center;
	/* biome-ignore lint/correctness/noUnknownProperty: Progressive enhancement. Not yet added to biome https://github.com/biomejs/biome/issues/7625 */
	corner-shape: scoop;
	overflow: hidden;
	border-radius: 15px;

	mask-image:
		url("../../styles/assets/paper/repeating-paper-top.png"),
		url("../../styles/assets/paper/repeating-paper-bottom.png"),
		linear-gradient(black, black);
	mask-size:
		auto 23px,
		auto 40px,
		100% 100%;
	mask-position:
		center 0px,
		center calc(100% + 15px),
		center;
	mask-repeat: repeat-x, repeat-x, no-repeat;
	mask-composite: exclude;
	mask-mode: alpha;
	h3 {
		font-family: var(--font-serif);
		font-size: 2.5rem;
		color: var(--orange);
		margin-bottom: 15px;
		/* padding-bottom: 10px; */
		border-bottom: 2px solid var(--black);
		font-style: italic;
	}

	p {
		line-height: 1.5;
	}

	strong {
		color: var(--orange);
	}
}

.rules-card.full-width {
	grid-column: 1 / -1;
}

.rules-list {
	list-style: none;
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: 8px;

	li {
		line-height: 1.4;
	}
}

.disclaimer {
	margin-top: 15px;
	font-size: 0.85rem;
	font-style: italic;
	opacity: 0.7;
}

.or {
	font-family: var(--font-block);
	font-size: 1.2rem;
	margin: 15px 0;
}
